In [1]:
import pandas as pd

In [4]:
dataframe = pd.DataFrame(
    {
        "Name":[
            "David",
            "Tyler",
            "Peter"
        ],
        "Age":[22,33,44],
        "Sex":["Male","Male","Female"]
    }
)
dataframe.index = ["Survivor 1:","Survivor 2:","Survivor 3:"]
dataframe

              Name  Age     Sex
Survivor 1:  David   22    Male
Survivor 2:  Tyler   33    Male
Survivor 3:  Peter   44  Female

# Each column in a DataFrame is a Series

In [5]:
dataframe['Age']

Survivor 1:    22
Survivor 2:    33
Survivor 3:    44
Name: Age, dtype: int64

In [6]:
ages = pd.Series([22,33,44], name="Age")
ages

0    22
1    33
2    44
Name: Age, dtype: int64

# A pandas Series has no column labels, as it is just a single column of a DataFrame. A Series does have row labels.

In [7]:
dataframe["Age"].max()

44

In [8]:
ages.max()

44

```
The describe() method provides a quick overview of the numerical data in a DataFrame. As the Name and Sex columns are textual data, these are by default not taken into account by the describe() method.

Many pandas operations return a DataFrame or a Series. The describe() method is an example of a pandas operation returning a pandas Series or a pandas DataFrame.
```

In [9]:
dataframe.describe()

        Age
count   3.0
mean   33.0
std    11.0
min    22.0
25%    27.5
50%    33.0
75%    38.5
max    44.0