# Video link to the video:
https://www.youtube.com/watch?v=kHHym9neKRs&ab_channel=DataProfessor

In [2]:
import pandas as pd

In [3]:

import numpy as np

In [4]:
# Creating a panda series
s1 = pd.Series([1,2,3,4,5,])
s1
s2 = pd.Series([1,2,3,4,5,3.5])
s2
s3 = pd.Series([1,2,3,4,5,'a'])
s3
s4 = pd.Series(['apples', 'papayas', 'bananas', 'orange'])
s4

0     apples
1    papayas
2    bananas
3     orange
dtype: object

In [5]:
#Creating a DataFrame from NumPy array

n1 = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df1 = pd.DataFrame(n1)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [6]:
n1

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [9]:
# Pandas Index
# Creating a series from a list
I2 = [1,2,3,4,5]
s2 = pd.Series(I2, name='A')
s2

0    1
1    2
2    3
3    4
4    5
Name: A, dtype: int64

In [8]:
z1 = pd.Series([1,2,3,4,5], name='A')
z1

0    1
1    2
2    3
3    4
4    5
Name: A, dtype: int64

# Pandas data frame

In [12]:
# Creating a DataFrame from a NumPy array
n2 = np.array([[1,2,3], [4,5,6], [7,8,9]])
#Creating column names
df2 = pd.DataFrame(n2, columns=['A', 'B', 'C'])
df2
#Creating columns and rows
df3 = pd.DataFrame(n2, columns=['A','B','C'], index=['A','B','C'])
df3

   A  B  C
A  1  2  3
B  4  5  6
C  7  8  9

In [13]:
# Therefore to have a index with new names we will create a new dataframe 
df4 = df3.copy()
df4.index = ['Ugly','Why', 'Hi']
df4

      A  B  C
Ugly  1  2  3
Why   4  5  6
Hi    7  8  9

# Dictionary to DataFrame

In [15]:
# Creating a data frame from dictionary (with index)
d = {'A': [1,2,3], 'B': [5,6,7], 'C': [9,10,11]}
df1 = pd.DataFrame(d, index=['Hi', 'why', 'hello'])
df1

       A  B   C
Hi     1  5   9
why    2  6  10
hello  3  7  11

In [17]:
# Creating a data frame from dictionary (with index)
d = {'A': [1,2,3], 'B': [5,6,7], 'C': [9,10,11]}
df1.index =['Hi', 'why', 'hello']
df1

       A  B   C
Hi     1  5   9
why    2  6  10
hello  3  7  11

# More information
https://pandas.pydata.org/docs/user_guide/10min.html